.content_table {
}

.content_table th{
    border-bottom: solid 0.25em var(--highlight-pink);
}

.content_table td{
    padding:0 4px;
}

.content_table tr {
}

.content_error{
    font-weight:bold;
    color: var(--highlight-pink);
}
