.content_table {
    font-size: 1em;
}

.content_table th{
    border-bottom: solid 0.25em rgb(var(--pink-color));
}

.content_table td{
    padding:0 4px;
    font-size: 1em;
}

.content_table tr {
}

.content_error{
    font-weight:bold;
    color: rgb(var(--pink-color));
}
