.bin {
    background: rgb(var(--dark-color));
    font-size: 14px;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    position: relative;
    color: #04e1f9;
    border-width: 2px;
    border-style: solid;
    border-radius: 1em;
}

.bin_table {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.top_button_bar {
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    width:100%;
}

.top_button{
    color: rgb(var(--font-color));
    background: inherit;
    padding: 12px;
    height: 3em;
    border:none;
}

.top_button:disabled {
    color:rgb(var(--dark-color-highlight));
}

.bin_color_viewer {
    height: 1.5em;
    width: 66%;
    border-width: 4px;
    border-style: solid;
    margin-bottom: -4px;
    -webkit-transform: perspective(150px) rotateX(45deg);
}
