.bin {
    background: rgb(var(--dark-blue-color));
    font-size: 13px;
    font-weight: bold;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    color: #04e1f9;
    border-width: 2px;
    border-style: solid;
}

.bin_table {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.top_button_bar {
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    width:100%;
}

.top_button{
    color: rgb(var(--cyan-color));
    background: inherit;
    padding: 12px;
    height: 3em;
    border:none;
}

.top_button:disabled {
    color:rgb(var(--medium-blue-color));
}

.bin_color_viewer {
    height: 1.5em;
    width: 66%;
    border-style: solid;
    margin-bottom: -5px;
    -webkit-transform: perspective(150px) rotateX(45deg);
    box-shadow: rgb(0 0 0 / 8%) 0 0 12px 0 inset;
}

