.container{
}

.container_inner {
    background: rgba(var(--dark-color), .5);
    display: grid;
    border-style: solid;
    border-color: rgb(var(--dark-color));
    border-radius: .5em;
    padding: .25em;
    overflow-y: auto;
    min-height: 75vh;
    min-width: 75vw;
    max-height: 90vh;
}

.container_title{
    display: flex;
    justify-content: space-between;
    font-size: 3.5em;
    font-family: var(--font);
    color: rgb(var(--font-color));
    padding-left:1em;
    padding-top:.25em;
    padding-bottom:12px;
}

.container_menu{
    display: flex;
    align-self: center;
    justify-content: right;
    padding-right:.5em;
    width:33%
}

.container_menu_ul{
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;

}

.container_menu_li{
    float:left;
    width: 125px;
}

.container_menu_button {
    background:rgb(var(--dark-color));
    border-color: rgb(var(--font-color));
    border-width: 2px 0 2px 2px;
    border-style: solid;
    color: rgb(var(--font-color));
    padding: .5em;
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: inline-block;
}

.container_menu_button:first-child{
    border-radius: 1em 0 0 1em
}

.container_menu_button:last-child{
    border-radius: 0 1em 1em 0;
    border-width: 2px;
}

.container_color_viewer {
    height: 1.5em;
    width: 66%;
    border-width: 2px;
    border-style: solid;
    margin-bottom: -4px;
    -webkit-transform: perspective(150px) rotateX(45deg);
}

.container_label{
    margin-left: 64px;
    border-color: rgb(var(--highlight-yellow));
    border-width: 0  4px 0 0;
    border-style: solid;
    padding:0 12px 0 32px;
    display: flex;
    justify-content: left;
    background: rgb(var(--dark-color));
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
}

.label_slash{
    border: none;
    margin: 0 18px 0 32px;
    width: .5em;
    transform: skewX(-25deg);
}
