.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
}

.modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: repeating-linear-gradient(
            45deg,
            rgba(var(--yellow-color), .25),
            rgba(var(--yellow-color), .25) 45px,
            rgba(var(--dark-blue-color), .3) 45px,
            rgba(var(--dark-blue-color), .3) 90px
    );
}

.modal .modal_content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    padding: 20px;
    border-radius: 1em;
    background-color: rgb(var(--dark-blue-color));
    border-color: rgb(var(--pink-color));
    border-width: 2px;
    border-style: solid;
    color: rgb(var(--cyan-color));
}

.modal .modal_content > h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0 40px;
    text-align: center;
}

.modal .modal_content .buttons_wrapper {
    padding: 20px;
}

.modal .close_modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
}

.modal .close_modal:hover {
    opacity: 0.9;
}

.model_title {
    text-align: center;
}

.modal button {
    background:rgb(var(--dark-blue-color));
    border-color: rgb(var(--cyan-color));
    border-width: 2px;
    border-style: solid;
    color: rgb(var(--cyan-color));
    padding: .5em;
    width: 50%;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
}
