.dropdown {
    width:100%;
    background:rgb(var(--dark-color));
    border-color: rgb(var(--font-color));
    border-width: 2px;
    border-style: solid;
    border-radius: .5em;
    color: rgb(var(--font-color));
    padding: .5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

