.dropdown {
    width:200%;
    background:var(--dark-color);
    border-color: var(--font-color);
    border-width: 2px;
    border-style: solid;
    border-radius: .5em;
    color: var(--font-color);
    padding: .5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

