.side_menu {
    color: rgb(var(--yellow-color));
    background: rgba(var(--dark-blue-color), .5);
    display: flex;
    flex-direction: column;
    border-color: var(--yellow-color);
    border-width: 3px;
    border-style: solid;
    height: available;
}

.top_button {
    font-family: var(--font);
    color: rgb(var(--cyan-color));
    font-size: 1.5em;
    text-transform: uppercase;
    background: rgba(var(--yellow-color),.333);
    outline: transparent;
    letter-spacing: 3px;
    font-weight: bold;
    height:48px;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: rgb(var(--yellow-color));
    margin-bottom: 10px;
}

.menu_toggle_group {
    flex-direction: column;
    display: flex;
    overflow: hidden;
    gap: 5px;
    position: relative;
}

.menu_button{

}

.menu_button_input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.menu_button_label {
    background: rgba(var(--color-marooon),1);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 310px;
    height:54px;
    font-family: var(--font);
    color: rgb(var(--cyan-color));
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-width: 2px ;
    border-style: solid;
    border-color: rgb(var(--yellow-color));
    margin: 0 8px ;
}

.menu_button_input:checked + label {
    border-color: rgb(var(--pink-color));
}

.scrollable {
    height: 100%;
    overflow-y: auto;
}

.footer{
    color: rgb(var(--cyan-color));
    background: rgba(var(--yellow-color),.333);
    outline: transparent;
    height:48px;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: rgb(var(--yellow-color));
    margin-top: 8px;
}

