.ns_textbox {
    position: relative;
    height: 45px;
    margin-bottom: 17px;
}

.ns_textbox_input {
    height: 100%;
    width:80px;
    border:none;
    font-size: 16px;
    padding: 5px 20px 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    color:rgb(var(--font-color));
}

.ns_textbox_border {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(var(--font-color));
    border-radius: 7px;
}

.ns_textbox_border:focus-within {
    border: 2px solid rgb(var(--highlight-pink));
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
