html {
    --font-color: #05d9e8;
    --dark-color: #094167;
    --dark-color-highlight: #0e649e;
    --background-color: #0e141b;
    --highlight-pink: #ff2a6d;
    --highlight-yellow: #f2e600;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
