html {
    --cyan-color: 5, 217, 232;
    --dark-blue-color: 9, 65, 103;
    --medium-blue-color: 14, 100, 158;
    --color-marooon: 36, 0, 5;
    --background-gradient: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(var(--color-marooon), 1) 100%);
    --pink-color: 255, 42, 109;
    --yellow-color: 242, 230, 0;
    --green-color: 74, 246, 38;
    --font: "Fira Code";
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-gradient);
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:transparent;
}
