html {
    --font-color: 5, 217, 232;
    --dark-color: 9, 65, 103;
    --dark-color-highlight: #14, 100, 158;
    --background-color: 14, 20, 27;
    --highlight-pink: 255, 42, 109;
    --highlight-yellow: 242, 230, 0;
    /*--font: Helvetica, sans-serif;*/
    --font: "Fira Code";
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

