.toast {
    border-color: rgb(var(--medium-blue-color));
    border-style: solid;
    border-width: 4px;
    padding: 16px;
    color: rgb(var(--cyan-color));
    background: rgb(var(--dark-blue-color));
    font: var(--font);
    font-size: 1.75em;
    min-width: 300px;
}

.main_window {
    height: 100vh;
    overflow: hidden;
}
