body {
    background-color: #222222;
}
.box {
    padding: 3em;
}
.bin-sel-button {
    width: 16em;
    height: 5em;
    background: #0e83cd;
    display: inline-block;
    margin: 4px 16px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    transition: all 0.3s;
    border: 3px solid #fff;
    color: #fff;
}

.box select {
    background-color: #7395AE;
    color: #ccff00;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}

.grid-container {
    display: grid;
    padding: 10px;
}
.grid-bin {
    font-size: 14px;
    font-family: FontAwesome, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    position: relative;
    z-index: 3;
}
.grid-grid {
    border: 1px grey dashed;
    z-index: 1;
}
.grid-grid:hover {
    background: red;
    z-index: 2;
}
